.loading__container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  .loading__content{
    font-size: 10px;
    text-align: center;
  }
}
