//blue
$blackSqueeze: #F0F6FA;
$havelockBlue: #54a5dd;
$lochmara: #0A7FCE;
$lochmara14: rgba(10, 127, 206, 0.14);
$veniceBlue: #0a629d;

//gray
$alabaster: #fcfcfc;
$iron: #dedee0;
$gallery: #EAEAEA;
$gallery10: rgba(234, 234, 234, 0.10);
$gallery13: rgba(234, 234, 234, 0.13);
$outer-space: #31393C;
$outer-space50: rgba(49, 57, 60, 0.5);
$firefly: #0C2231;
$firefly50: rgba(12, 34, 49, 0.5);
$lightGrey: #fcfcfc;

$smoky: #5D536B;
$smoky48: rgba(93, 83, 107, 0.48);

$white: #fff;

$brightSun: #FDCA40;
$orange: #f79824;
$saturatedOrange: #f7760c;
$green: #52aa5e;
$green-light: #61cc70;
$green-dark: #3d7f46;
$red: #db5461;
$red-light: #ff96a0;
$viol: #a178f7;