

@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}

@font-face{
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
}

$font-family-primary: 'Open Sans', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif

//
//font-family: "Open Sans", sans-serif;
//font-weight: bold;